NODE_ENV=development
DB_USER=postgres
DB_PASSWORD=freesmspass
DB_NAME=freesms
DB_HOST=127.0.0.1
DB_PORT=5432
HTTP_PORT=9090
LISTEN_INTERFACE=0.0.0.0
JWT_ID=
JWT_KEY=somerandomjwtkeyforthemoment
JWT_EXPIRES=2 days
BCRYPT_SALT_ROUNDS=10
MAIL_HOST=mail.freefone.app
MAIL_PORT=465
MAIL_USER=noreply@freefone.app
MAIL_PASSWORD=n7I7EZmI7B
PASSWORD_REGEX=^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$
UPLOAD_TMP_DIR=./tmp/
UPLOAD_DIR=./tmp/uploads/ 
UPLOAD_MAXAVATAR_SIZE=2048
CDN_HOST=https://storage.googleapis.com/
GOOGLE_STORAGE_KEY_FILE=./Callify-853b8ff69ac6.json
GOOGLE_STORAGE_BUCKET=callify
USER_HASH_EXPIRATION=24
BASE_URL=http://192.99.212.82:9090
INVITE_URL=AcceptInvite/{HASH}
DEFAULT_LIMIT=20
FREESMS_DOMAIN=http://192.99.212.82

CURRENT_SERVER=http://192.99.212.82:9090
DEV_PATH_TO_IMAGE_FOLDER=assets/dev/profile
PROD_PATH_TO_IMAGE_FOLDER=assets/prod/profile
DEV_PATH_TO_AUDIO_FOLDER=assets/dev/recordings
PROD_PATH_TO_AUDIO_FOLDER=assets/prod/recordings


AMQP_URL=amqp://guest:guest@localhost:5672
EXCHANGE_COMMANDS=FS.Commands
EXCHANGE_COMMANDS_TYPE=topic
EXCHANGE_EVENTS=FS.Events
EXCHANGE_EVENTS_TYPE=topic
EXCHANGE_EVENTS_RK=FreeSWITCH.CHANNEL_ANSWER.*,FreeSWITCH.CHANNEL_BRIDGE.*,FreeSWITCH.CHANNEL_CREATE.*, FreeSWITCH.CHANNEL_DESTROY.*, FreeSWITCH.CHANNEL_HANGUP.*, FreeSWITCH.CHANNEL_HOLD.*, FreeSWITCH.CHANNEL_PARK.*, FreeSWITCH.CHANNEL_PROGRESS.*, FreeSWITCH.CHANNEL_PROGRESS_MEDIA.*, FreeSWITCH.CHANNEL_UNBRIDGE.*, FreeSWITCH.CHANNEL_UNHOLD.*, FreeSWITCH.CHANNEL_UNPARK.*, FreeSWITCH.PLAYBACK_START.*, FreeSWITCH.PLAYBACK_STOP.*, FreeSWITCH.RECORD_START.*,FreeSWITCH.RECORD_STOP.*, FreeSWITCH.CUSTOM.*, FreeSWITCH.HEARTBEAT.*
EXCHANGE_LOGS=FS.Logging
EXCHANGE_LOGS_TYPE=topic
ROUTING_KEY_COMMANDS=fs_command_rk

FS_CLASS4_IP=127.0.0.1
FS_OPENSIPS_IP=127.0.0.1
SOFIA_INTERNAL_PREFIX=sofia/internal/
SOFIA_PROFILE_PREFIX=sofia/profile/

TTS_API_URL=http://192.99.11.212:29999/api/tts/v1
TTS_DOWNLOAD_URL=http://192.99.11.212:29999/api/download/v1/
TTS_API_SPEAKER_NAME=Susan
UPLOAD_MAXARECORDING_SIZE=2048

DNL_API=http://192.99.212.82:8000/v1
DNL_USER=admin
DNL_PASS=
DNL_DEFAULT_CURRENCY=USD

REDIS_HOST=localhost
REDIS_PORT=6379

VITCOM_API=https://customer.vitcom.net/api/did/
VITCOM_ACCOUNTNO=
CALLIFY_APP=
OPENTACT_API=https://api.opentact.org/rest
OPENTACT_SIP_DOMAIN=freesim.sip.opentact.org
OPENTACT_USER=soupra.cool@gmail.com
OPENTACT_PASSWORD=063f2ef8-ac46-4511-8a07-9e60132c13d4
OPENTACT_ADMIN_EMAIL=soumyaadhikary23@gmail.com
OPENTACT_ADMIN_PASSWORD=12345678
OPENTACT_WSS=wss://api.opentact.org/wss
OPENTACT_WSS_DEV=wss://api.dev.opentact.org/wss
RESET_PASSWORD_URL=ResetPassword/{HASH}
MODELS_DIR=/../../models/*.js

NEXMO_KEY=43a08ce9
NEXMO_SECRET=FZ5RwjNZpLx9Rf44

PAYPAL_SANDBOX=true
PAYPAL_CLIENT=AZxLY0heBGhKZc6cRscu2OAHQAIH9zRayFOyPkyA1tsI5XGJLDu6YC7e37G_5bl9zXuO2CI25ftjHvl3
PAYPAL_SECRET=EDcFr2pAlglqtgADzaSCUHrJlV9Ztt1AtW9KwP2B7r1or2jEiJfD8R92zmJzmChDmBhIE42JT9GW6IA7

STRIPE_SANDBOX=true
STRIPE_PUBLIC=pk_test_51JRya5DbVvqfzNUckUCPwbNFFNuWUuMAHmGSqLR2KXo12IGayXyNDVZVBKurxSwxHAuzNH7UFSlWuwOm9SOAy60j00MtHvQHun
STRIPE_SECRET=sk_test_51JRya5DbVvqfzNUcrmbtwsIlQn5G51WGTzrjoyUxZIPm8NMKoTZPpwXQfFBpvfwr2GHY175BEOnRls2YZGoJ74oG009W6bVFXF
STRIPE_WEBHOOK_SECRET=whsec_6Cw3c2m4gCP5ssGvWsrLqjlmFBZvuJC2